<div class="container d-flex flex-column gap-3 rounded-3 p-3 h-100">
  <section class="user-details">
    <h4>Player Name</h4>
    <p>Email</p>
  </section>
  <section class="user-entries">
    <h5>Entries</h5>
    <div class="d-flex flex-column gap-2 ms-2">
      <div>
        <div class="entry-stat-label">Total Entries</div>
        <div class="entry-stat-value">100</div>
      </div>
      <div>
        <div class="entry-stat-label">Latest Entry</div>
        <div class="entry-stat-value">2/10/2026</div>
      </div>
      <div>
        <div class="entry-stat-label">First Entry</div>
        <div class="entry-stat-value">12/19/2025</div>
      </div>
    </div>
  </section>
  <section class="user-footer d-flex justify-content-center mt-auto">
    <p-button label="Logout" icon="fa-solid fa-right-from-bracket" />
  </section>
  <!-- <div>Continue with Google</div> -->
</div>
