<div
  class="entry-background position-fixed top-0 start-0 w-100 h-100 z-0"
  [ngClass]="parentComponent() !== 'add-entry' ? 'blur' : ''"
  (click)="backgroundClick()"
></div>
<section class="entry-header z-2" [ngClass]="[isExpanded() ? 'show' : '']">
  <h4>{{ header() }}</h4>
</section>
<div class="paper" [ngClass]="[paperState(), isExpanded() ? 'expanded' : 'not-expanded']">
  <div class="red-line position-absolute top-0 bottom-0"></div>
  <div #paperInnerRef class="paper-inner h-100 overflow-y-auto">
    <button
      [disabled]="parentComponent() === 'add-entry'"
      [hidden]="parentComponent() === 'add-entry'"
      class="position-absolute top-0 end-0 border-0 opacity-50 bg-transparent mt-1 me-2 p-0 z-2"
      (click)="closeEntry()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
    <form [formGroup]="form" action="Submit">
      <div class="date-container d-flex flex-row align-items-center">
        <label class="me-2">Date:</label>
        <p-datepicker
          class="date-picker"
          [ngClass]="{ 'icon-hidden': access() === 'view' }"
          formControlName="entryDate"
          dateFormat="D, mm/dd/yy"
          [showIcon]="true"
          [showOnFocus]="false"
        />
      </div>
      <div class="title-container d-flex flex-row align-items-center">
        <label class="me-2" for="entryTitle">Title:</label>
        <input
          id="entryTitle"
          #titleRef
          type="text"
          pInputText
          (input)="entryTitleAutoGrow(titleRef, measuringSpan)"
          formControlName="entryTitle"
          [invalid]="isInvalid('entryTitle')"
          class="bg-transparent border-0 border-bottom border-black p-0 mt-2 rounded-0"
        /><span #measuringSpan class="measuringSpan"></span>
      </div>
      <!-- <div
        #paperContent
        class="paper-content"
        contenteditable="true"
        (input)="onContentChange(paperContent.innerHTML)"
      > -->
      <div class="paper-content">
        <textarea
          #contentRef
          formControlName="entryContent"
          (input)="entryContentAutoGrow(paperInnerRef, contentRef)"
          [placeholder]="placeholder()"
          class="bg-transparent m-0 p-0 w-100 border-0 rounded-0 entry-textarea"
          rows="5"
        ></textarea>
      </div>
    </form>
  </div>
</div>
@if (access() === 'new' || access() === 'edit') {
  <div
    class="lower-section d-flex flex-column w-100 z-2 mb-2 align-items-center"
    [ngClass]="[isExpanded() ? 'show' : '']"
  >
    @if (isAttachmentOpen()) {
      <p-fileupload
        name="attachmentEntry"
        [multiple]="true"
        [auto]="false"
        [customUpload]="true"
        chooseLabel="Add Attachment"
        accept="image/*"
        (onSelect)="onFileSelect($event)"
        [showUploadButton]="false"
        maxFileSize="10485760"
        mode="advanced"
        class="attachment w-100 overflow-y-auto mt-2"
      >
        <ng-template #empty>
          <div>Add files to here to upload.</div>
        </ng-template>
      </p-fileupload>
    }
    <div class="d-flex flex-row w-100 align-items-center justify-content-between mt-3">
      <button
        class="attach-button ms-3 rounded-circle border-0 opacity-50 z-2"
        (click)="showAttachment()"
      >
        <i class="fa-solid fa-paperclip"></i>
      </button>
      <button
        pButton
        label="Submit"
        icon="fa-solid fa-paper-plane"
        class="send-button p-2"
        severity="success"
        [raised]="true"
        [rounded]="true"
        (click)="onSubmit()"
      ></button>
      <div style="width: 32px"></div>
    </div>
  </div>
}
