:host,
app-entry {
  position: absolute;
  width: 100%;
  max-width: 800px;
  height: 100%;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  font-family: 'Parisienne', cursive;
  z-index: 2;
}

.entry-background {
  /* background-color: rgba(0, 0, 0, 0.25); */
  background-color: rgba(255, 255, 255, 0.25);
}

.entry-background.blur {
  backdrop-filter: blur(5px);
}

.entry-header {
  font-family: 'Google Sans', sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.entry-header.show {
  opacity: 1;
}

.paper {
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 10px 40px rgba(0, 0, 0, 0.2),
    0 30px 60px rgba(0, 0, 0, 0.3);
  transform: translate(0, 0) scale(0.02) rotateX(40deg) rotateY(-20deg) rotateZ(-15deg);
  transform-origin: center center;
  opacity: 0;
  transition: none;
  background: #e8e8e8;
}

.red-line {
  left: 1.5rem;
  width: 2px;
  background: #ffb3b3;
  pointer-events: none;
}

.paper.flying {
  animation: flyIn 1.2s cubic-bezier(0.353, 0.56, 0.6, 0.719) forwards;
}

.paper.zoomin {
  animation: zoomIn 0.3s linear forwards;
}

.paper.expanded {
  transform: translate(0, 0) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
}

/* FLY IN ANIMATION */
@keyframes flyIn {
  0% {
    transform: translate(0, 0) scale(0.02) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(-2000px);
    opacity: 0.4;
  }

  /* 10% {
    transform: translate(-10%, -10%) scale(0.02) rotateX(-90deg) rotateY(10deg) rotateZ(-5deg)
      translateZ(-2000px);
    opacity: 0.5;
  } */

  30% {
    transform: translate(-20%, -20%) scale(0.3) rotateX(-120deg) rotateY(10deg) rotateZ(0deg);
    opacity: 0.6;
  }

  /* 70% {
    transform: translate(-20%, -20%) scale(0.7) rotateX(10deg) rotateY(-5deg) rotateZ(-3deg)
      translateZ(-200px);
    opacity: 0.7;
  } */

  80% {
    transform: translate(-10%, -10%) scale(0.9) rotateX(-2deg) rotateY(1deg) rotateZ(1deg)
      translateZ(0);
    opacity: 0.9;
  }
  100% {
    transform: translate(-5%, -5%) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
    opacity: 1;
  }
}

/* ZOOM IN ANIMATION */
@keyframes zoomIn {
  0% {
    transform: translate(0, 0) scale(0.02) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(-2000px);
    opacity: 0.4;
  }
  100% {
    transform: translate(0, 0) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
    opacity: 1;
  }
}

.paper-content {
  width: 100%;
  height: auto;
  /* min-height: 60vh; */
  position: relative;
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #333;
  outline: none;
  opacity: 0;
  /* transition: opacity 0.5s ease 1s; */
}

.paper.zoomin .paper-content {
  transition: 0;
}

.paper.flying .paper-content {
  transition: opacity 0.5s ease 1s;
}

.paper.expanded .paper-content {
  opacity: 1;
}

.entry-textarea {
  min-height: 60vh;
  overflow: hidden;
  resize: none;
  font-size: 0.9rem;
  background: repeating-linear-gradient(
    transparent 0rem,
    transparent calc(1.2rem - 1px),
    #8d8d8d calc(1.2rem - 1px),
    #8d8d8d 1.2rem
  );
}

.entry-textarea:focus-visible {
  outline: none;
}

.paper-inner {
  padding: 1rem 1rem 1rem 2rem;
  scrollbar-width: thin;
  overflow-anchor: none;
}

/* FORM DATE PICKER */
.date-container {
  /* margin-left: 2.5rem; */
}

.date-picker {
  /* position: static !important; */
}

.date-container .p-datepicker-input.p-inputtext,
.date-container .p-datepicker .p-datepicker-dropdown {
  background: transparent;
  border: none;
}

.date-container .p-datepicker.icon-hidden .p-datepicker-dropdown {
  display: none !important;
}

.date-container .p-datepicker-input.p-inputtext {
  border-bottom: 1px solid #000000;
  border-radius: 0;
  padding: 0 0 0 2px;
}

.date-container .p-datepicker-input.p-datepicker-input {
  width: 10rem;
}

/* FORM TITLE */
.title-container {
  /* margin-left: 2.5rem; */
}

#entryTitle {
  min-width: 10rem;
  width: 10rem;
}

.measuringSpan {
  visibility: hidden !important;
  position: fixed !important;
}

/* LOWER SECTION */
.lower-section {
  font-family: 'Google Sans', sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease 1s;
}

.lower-section.show {
  opacity: 1;
}

/* ENTRY FORM FILE UPLOAD */
.p-fileupload-header {
  padding: 0.5rem !important;
}

.p-button.p-fileupload-choose-button,
.p-button.p-fileupload-cancel-button {
  font-size: 0.8rem !important;
  padding: 0.5rem !important;
}

.p-fileupload-file-badge.p-badge.p-badge-warn.p-component {
  display: none;
}

.p-component.p-progressbar.p-progressbar-determinate {
  display: none;
}

.attachment {
  background: #e8e8e8 !important;
  border-radius: 8px;
  max-height: 10rem;
  scrollbar-width: thin;
}

.attach-button {
  padding: 0.25rem;
}

.attach-button:hover {
  background-color: #aaaaaa;
}

.send-button {
  width: 15rem;
}

@media (max-width: 768px) {
  :host,
  app-entry {
    padding: 0.5rem;
    height: calc(100vh - 4rem);
  }

  .lower-section {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
    font-size: 0.8rem;
  }

  .send-button {
    /* margin-top: 0.5rem !important; */
  }

  .p-fileupload-header {
    padding: 0.2rem !important;
  }

  .p-button.p-fileupload-choose-button,
  .p-button.p-fileupload-cancel-button {
    padding: 0.25rem !important;
  }
}
