<!-- <p-toast /> -->
<!-- <div class="entry-container">
  <h2 class="text-center mb-3">Add New Entry</h2>
  <form class="form-container" [formGroup]="entryForm" (ngSubmit)="onEntrySubmit()">
    <div class="d-flex flex-column gap-2">
      <p-floatlabel variant="in">
        <p-datepicker formControlName="date" [invalid]="isInvalid('date')" showIcon required />
        @if (isInvalid('date')) {
          <p-message severity="error" size="small" variant="simple">Date is required.</p-message>
        }
        <label for="date">Date</label>
      </p-floatlabel>

      <p-floatlabel variant="in">
        <input
          fluid
          pInputText
          type="text"
          id="title"
          formControlName="title"
          [invalid]="isInvalid('title')"
          required
        />
        @if (isInvalid('title')) {
          <p-message severity="error" size="small" variant="simple">Title is required.</p-message>
        }
        <label for="title">Title</label>
      </p-floatlabel>

      <p-editor
        class="form-editor"
        formControlName="entry"
        [invalid]="isInvalid('text')"
        [style]="{ height: '320px' }"
        required
      >
        <ng-template #header>
          <span class="ql-formats">
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button type="button" class="ql-italic" aria-label="Italic"></button>
            <button type="button" class="ql-underline" aria-label="Underline"></button>
            <button type="button" class="ql-strike" aria-label="Strike"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-size" aria-label="Size">
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
            </select>
          </span>
          <span class="ql-formats">
            <select class="ql-align" aria-label="Aligment">
              <option selected></option>
              <option value="center"></option>
              <option value="right"></option>
              <option value="justify"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-list" value="check"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color" aria-label="Color"></select>
            <select class="ql-background" aria-label="Background"></select>
          </span>
          <span class="ql-formats">
            <button type="button" class="ql-clean" aria-label="Clean"></button>
          </span>
        </ng-template>
      </p-editor>
      @if (isInvalid('entry')) {
        <p-message severity="error" size="small" variant="simple">Content is required.</p-message>
      }

      <p-fileupload
        name="attachmentEntry"
        [multiple]="true"
        [auto]="false"
        [customUpload]="true"
        chooseLabel="Add Attachment"
        accept="image/*"
        (onSelect)="onFileSelect($event)"
        [showUploadButton]="false"
        maxFileSize="10485760"
        mode="advanced"
      >
        <ng-template #empty>
          <div>Add files to here to upload.</div>
        </ng-template>
      </p-fileupload>
      <p-button severity="success" type="submit" fluid>Submit</p-button>
    </div>
  </form>
</div> -->
<div class="add-entry-container">
  <app-entry parentComponent="add-entry" />
</div>
