:host {
  z-index: 1;
  width: 100%;
}

.entry-header {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content-header {
  color: var(--p-primary-900);
  font-family: 'Parisienne', cursive;
}

.entry-header.show {
  opacity: 1;
}
