<div
  class="entry-header w-100 d-flex flex-row align-items-center z-1"
  [ngClass]="[isEntryPaperExpanded() ? 'show' : '']"
>
  <div class="d-flex flex-row align-items-center gap-1 ms-0">
    <i [class]="header().icon"></i>
    <h4 class="my-2">{{ header().label }}</h4>
  </div>
  @if (access() === 'view') {
    <div class="d-flex flex-row align-items-center me-0 ms-auto">
      <button
        pButton
        icon="fa-solid fa-circle-info"
        text="true"
        severity="secondary"
        (click)="onShowInfo()"
      ></button>
      <button
        pButton
        icon="fa-solid fa-pencil"
        text="true"
        severity="secondary"
        (click)="toEditFromView()"
      ></button
      ><button
        pButton
        icon="fa-solid fa-trash-can"
        text="true"
        severity="secondary"
        (click)="deleteEntry()"
      ></button>
    </div>
  }
</div>
