:host,
app-calendar {
  height: calc(100vh - 4.5rem);
  font-family: 'Google Sans', sans-serif;
  font-size: 1rem;
  padding: 1rem;
  overflow: auto;
}

.calendar-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
}

.calendar-month-picker .p-datepicker-input {
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  font-size: 1.5rem;
  max-width: 15rem;
  text-align: end;
}

.p-datepicker-input-icon-container,
.cal-month-view .cal-header,
.action-icons {
  color: #2b2b2f !important;
}

.cal-day-selected,
.cal-day-selected:hover {
  background-color: #2bbdff7a !important;
}

.cal-month-view .cal-day-badge {
  margin-top: 0;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  margin-right: auto;
  min-width: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1rem;
  padding: 0;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  align-content: center;
  background-color: #3a71e7ba !important;
}

.cal-month-view .cal-day-cell {
  position: relative;
}

.cal-month-view .cal-day-number {
  font-family: 'Parisienne', cursive;
  margin-bottom: 0;
}

.cal-month-view .cal-day-cell.cal-today {
  background-color: #e4f2ff;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-weight: 800;
}

.cal-month-view .cal-cell-row .cal-cell:hover,
.cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: #c2e1ff29;
}

.calendar-entry-container {
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 4.5rem);
  z-index: 2;
}

.cal-add-button {
  /* color: #4f4f4f; */
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cal-add-button-container {
  background-color: #6590db;
  height: 40%;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 300ms ease,
    opacity 200ms ease;
}

.cal-add-button-container.show {
  color: #ffffff;
  max-height: 40%;
  opacity: 1;
}

.entries-list-container {
  background-color: #e1ecf5;
  border: 1px solid #d9d9d9;
}

/* .entries-list .entry:nth-child(even) {
  background: #ff0000;
} */

.entries-list .entry:nth-child(odd) {
  background: #ffffffe0;
}

.entries-list .entry {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.entries-list .entry.selected {
  background-color: #2bbdff7a !important;
  color: white !important;

  .action-icons {
    color: white !important;
  }
}

.cal-badge-dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  min-width: 8px;
  --shade: 0.6;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  margin-right: 0.2rem;
  content: '';
}

.entry-title {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 6rem;
}

@media (max-width: 768px) {
  :host,
  app-calendar {
    height: calc(100vh - 4rem);
    padding: 0.75rem;
  }

  .calendar-container {
    padding: 0.75rem !important;
    gap: 0.5rem !important;
  }

  .cal-month-view .cal-header .cal-cell {
    font-size: 0;
  }

  .cal-month-view .cal-header .cal-cell::after {
    content: attr(header-short);
    font-size: 1rem;
  }

  .cal-month-view .cal-day-cell {
    min-height: 4.5rem !important;
  }

  .cal-month-view .cal-cell-top {
    /* min-height: 4.5rem !important; */
    min-height: 0 !important;
  }

  .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.7em;
  }

  .cal-month-view .cal-day-number {
    opacity: 0.6;
    margin-top: 10px;
    /* margin-bottom: 10px; */
  }

  .entries-list .entry {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .cal-month-view .cal-day-badge {
    font-size: 1rem !important;
    height: auto !important;
    width: auto !important;
  }

  .calendar-entry-container {
    height: calc(100vh - 4rem);
    top: 4rem;
  }
}
