<div
  class="drafts-container container-sm d-flex flex-column h-100 gap-3 p-3 rounded-3 overflow-hidden"
>
  <div class="drafts-header d-flex flex-row align-items-center gap-2">
    <h5 class="m-0">Drafts</h5>
    <p-button
      size="small"
      icon="fa-solid fa-plus"
      raised="true"
      rounded="true"
      severity="secondary"
    />
  </div>
  <hr class="border-top border-2 border-black m-0" />
  <div class="drafts-list flex-fill gap-2 overflow-y-auto">
    <div class="draft mb-3">
      <p-card header="Draft Title" subheader="Date">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
          repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
          ratione quam perferendis esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
    <div class="draft mb-3">
      <p-card header="Draft Title" subheader="Date">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
          repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
          ratione quam perferendis esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
    <div class="draft mb-3">
      <p-card header="Draft Title" subheader="Date">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
          repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
          ratione quam perferendis esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
    <div class="draft mb-3">
      <p-card header="Draft Title" subheader="Date">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
          repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
          ratione quam perferendis esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
    <div class="draft mb-3">
      <p-card header="Draft Title" subheader="Date">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
          repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
          ratione quam perferendis esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
    <div class="draft mb-3">
      <p-card header="Draft Title" subheader="Date">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
          repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
          ratione quam perferendis esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
    <div class="draft mb-3">
      <p-card header="Draft Title" subheader="Date">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
          repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
          ratione quam perferendis esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
    <div class="draft mb-3">
      <p-card header="Draft Title" subheader="Date">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
          repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
          ratione quam perferendis esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
    <div class="draft mb-3">
      <p-card header="Draft Title" subheader="Date">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
          repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa
          ratione quam perferendis esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
  </div>
</div>
