:host,
app-drafts {
  height: calc(100vh - 4.5rem);
  padding: 1rem;
  font-family: 'Google Sans', sans-serif;
  font-size: 1rem;
  overflow: hidden;
}

.drafts-container {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 15%;
}

.drafts-list {
  scrollbar-width: thin;
  padding-right: 0.1rem;
}

.drafts-list .draft:last-child {
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  :host,
  app-drafts {
    height: calc(100vh - 4rem);
    padding: 0.75rem;
  }

  .drafts-container {
    padding: 0.75rem !important;
  }

  .drafts-header {
    gap: 0.25rem !important;
  }

  .drafts-list {
    padding-right: 0.3rem;
  }
}
