<div
  class="entry-background position-fixed top-0 start-0 w-100 h-100 z-0"
  (click)="backgroundClick()"
></div>
<app-entry-header
  [sourceId]="document()?.id ?? ''"
  [access]="access()"
  [isEntryPaperExpanded]="isEntryPaperExpanded()"
  (delete)="onDelete({ entityId: document()?.id ?? '', title: document()?.title ?? '' })"
  (showInfo)="showEntryInfo()"
></app-entry-header>

<app-entry-content
  [sourceId]="document()?.id ?? ''"
  [access]="access()"
  [values]="contentValues()"
  [isParentFullEntryPage]="isParentFullEntryPage()"
  [paperTransitionState]="paperTransitionState()"
  [isEntryPaperExpanded]="isEntryPaperExpanded()"
  [isFormSubmitted]="isFormSubmitted()"
  class="paper"
  [ngClass]="[paperTransitionState(), isEntryPaperExpanded() ? 'expanded' : 'not-expanded']"
  (formValuesChange)="onFormValuesChange($event)"
  (moodChange)="onMoodChange($event)"
  (closeEntry)="closeEntry()"
></app-entry-content>

<app-entry-footer
  [access]="access()"
  [isEntryPaperExpanded]="isEntryPaperExpanded()"
  [sourceId]="document()?.id ?? ''"
  [files]="selectedFiles"
  [attachmentId]="document()?.attachmentId ?? ''"
  (submit)="onSubmit($event)"
  (saveAsDraft)="onSaveAsDraft()"
  (publishDraft)="onPublishDraft()"
  (delete)="onDelete({ entityId: document()?.id ?? '', title: document()?.title ?? '' })"
  (attachmentsChange)="onAttachmentsChange($event)"
  (showInfo)="showEntryInfo()"
></app-entry-footer>

<!-- Info Dialog -->
@if (isInfoVisible()) {
  <p-dialog
    [(visible)]="isInfoVisible"
    modal="true"
    dismissableMask="true"
    draggable="false"
    class="info-dialog"
  >
    <app-info
      [type]="idType()"
      [title]="document()?.title ?? ''"
      [date]="document()?.date"
      [created]="document()?.createdAt"
      [lastModified]="document()?.modifiedAt"
      [publishedAt]="document()?.publishedAt"
    ></app-info>
  </p-dialog>
}
