<div
  class="entry-background position-fixed top-0 start-0 w-100 h-100 z-0"
  (click)="backgroundClick()"
></div>
<app-entry-header
  [sourceId]="sourceId()"
  [access]="access()"
  [isEntryPaperExpanded]="isEntryPaperExpanded()"
  (delete)="onDelete('entry')"
></app-entry-header>

<app-entry-content
  [sourceId]="sourceId()"
  [access]="access()"
  [values]="values()"
  [isParentFullEntryPage]="isParentFullEntryPage()"
  [parentComponent]="parentComponent()"
  [paperTransitionState]="paperTransitionState()"
  [isEntryPaperExpanded]="isEntryPaperExpanded()"
  class="paper"
  [ngClass]="[paperTransitionState(), isEntryPaperExpanded() ? 'expanded' : 'not-expanded']"
  (formValuesChange)="onFormValuesChange($event)"
  (moodChange)="onMoodChange($event)"
  (closeEntry)="closeEntry()"
></app-entry-content>

<app-entry-footer
  [access]="access()"
  [isEntryPaperExpanded]="isEntryPaperExpanded()"
  [sourceId]="sourceId()"
  [files]="selectedFiles"
  [attachments]="attachments()"
  (submit)="onSubmit($event)"
  (saveAsDraft)="onSaveAsDraft()"
  (publishDraft)="onPublishDraft()"
  (delete)="onDelete($event)"
  (attachmentsChange)="onAttachmentsChange($event)"
></app-entry-footer>
