:host,
app-entry {
  position: absolute;
  width: 100%;
  max-width: 800px;
  max-height: calc(100vh - 4.5rem);
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  font-family: 'Google Sans', sans-serif;
  z-index: 2;
}

.entry-background {
  /* background-color: rgba(0, 0, 0, 0.25); */
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

/* ENTRY CONTENT */
.paper {
  overflow: hidden;
  border-radius: 8px;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 10px 40px rgba(0, 0, 0, 0.2),
    0 30px 60px rgba(0, 0, 0, 0.3);
  transform: translate(0, 0) scale(0.02) rotateX(40deg) rotateY(-20deg) rotateZ(-15deg);
  transform-origin: center center;
  opacity: 0;
  transition: none;
  background: #e8e8e8;
}

.paper.flying {
  animation: flyIn 1.2s cubic-bezier(0.353, 0.56, 0.6, 0.719) forwards;
}

.paper.zoomin {
  animation: zoomIn 0.3s linear forwards;
}

.paper.expanded {
  transform: translate(0, 0) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
}

/* FLY IN ANIMATION */
@keyframes flyIn {
  0% {
    transform: translate(0, 0) scale(0.02) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(-2000px);
    opacity: 0.4;
  }

  30% {
    transform: translate(-20%, -20%) scale(0.3) rotateX(-120deg) rotateY(10deg) rotateZ(0deg);
    opacity: 0.6;
  }

  80% {
    transform: translate(-10%, -10%) scale(0.9) rotateX(-2deg) rotateY(1deg) rotateZ(1deg)
      translateZ(0);
    opacity: 0.9;
  }
  100% {
    transform: translate(-5%, -5%) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
    opacity: 1;
  }
}

/* ZOOM IN ANIMATION */
@keyframes zoomIn {
  0% {
    transform: translate(0, 0) scale(0.02) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
      translateZ(-2000px);
    opacity: 0.4;
  }
  100% {
    transform: translate(0, 0) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
    opacity: 1;
  }
}

.paper.zoomin .paper-content {
  transition: 0;
}

.paper.flying .paper-content {
  transition: opacity 0.5s ease 1s;
}

.paper.expanded .paper-content {
  opacity: 1;
}

/* LOWER SECTION */
@media (max-width: 768px) {
  :host,
  app-entry {
    padding: 0.5rem;
    height: calc(100vh - 4rem);
  }
}
