<div class="navbar" [ngClass]="{ scrolled: isScrolled }">
  <button
    class="btn"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasWithBothOptions"
    aria-controls="offcanvasWithBothOptions"
  >
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="navbar-avatar" (click)="menu.toggle($event)" role="button">
    @if (displayedAvatar()) {
      <img [src]="displayedAvatar()" alt="" />
    } @else {
      <i class="fa-solid fa-user-astronaut"></i>
    }
  </div>
  <p-menu
    #menu
    [model]="items()"
    popup="true"
    class="d-flex justify-content-center position-absolute top-0"
  >
    <ng-template #start>
      <div class="d-flex flex-row align-items-center gap-2 p-2">
        <!-- <i class="fa-solid fa-moon" style="color: rgba(116, 192, 252, 1)"></i> -->
        <img src="AD-logo-simple.png" alt="" class="menu-logo" />
        <span class="menu-title">Astral Diary</span>
      </div>
    </ng-template>
    <ng-template #submenuheader let-item>
      <span class="text-primary font-bold">{{ item.label }}</span>
    </ng-template>
    <ng-template #item let-item>
      <a class="flex items-center p-menu-item-link">
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #end>
      <div class="d-flex flex-row justify-content-between p-2">
        <label class="form-check-label" for="switchCheckDefault">Milky Way Background</label>
        <p-toggleswitch
          [(ngModel)]="checked"
          size="small"
          (onChange)="setIsBackgroundMilkyWay(!isBackgroundMilkyWay())"
        />
      </div>
    </ng-template>
  </p-menu>
</div>
<!-- OFFCANVAS -->
<div
  class="offcanvas offcanvas-start d-flex flex-column position-fixed py-3 px-2 align-items-center gap-4"
  [ngClass]="[isBackgroundMilkyWay() ? 'bg-milky-way' : 'bg-fantasy-blue']"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <img
      src="AD-logo-full.png"
      alt=""
      class="navbar-logo"
      [routerLink]="['home']"
      data-bs-dismiss="offcanvas"
    />
  </div>
  <div class="offcanvas-body">
    <div class="list-group">
      <a
        class="list-group-item"
        [routerLink]="['/home']"
        [ngClass]="{ active: activeLink() === '/home' }"
        data-bs-dismiss="offcanvas"
        ><i class="fa-solid fa-house-chimney me-2"></i>Home</a
      >
      <a
        class="list-group-item"
        [ngClass]="{ active: activeLink().startsWith('/entry') }"
        id="collapseEntryParent"
        href="#collapseEntry"
        data-bs-toggle="collapse"
        aria-expanded="false"
        aria-controls="collapseEntry"
      >
        <i class="fa-solid fa-feather me-2"></i>
        Entries
        <div class="caret-container position-absolute top-50 translate-middle-y">
          <i class="caret fa-solid fa-caret-right"></i>
        </div>
      </a>
      <div class="collapse" id="collapseEntry">
        <ul class="sub-list">
          <li
            class="list-group-item"
            [ngClass]="{
              active:
                activeLink().startsWith('/entry/search') || activeLink().startsWith('/entry/view'),
            }"
            [routerLink]="['/entry/search']"
            data-bs-dismiss="offcanvas"
          >
            <i class="fa-solid fa-magnifying-glass me-2"></i>
            Search and View
          </li>
          <li
            class="list-group-item"
            [ngClass]="{ active: activeLink().startsWith('/entry/new') }"
            [routerLink]="['entry/new']"
            data-bs-dismiss="offcanvas"
          >
            <i class="fa-solid fa-plus me-2"></i>
            Add New
          </li>
          <li
            class="list-group-item"
            [routerLink]="['entry/drafts']"
            [ngClass]="{ active: activeLink().startsWith('/entry/drafts') }"
            data-bs-dismiss="offcanvas"
          >
            <i class="fa-regular fa-pen-to-square me-2"></i>
            Drafts
          </li>
        </ul>
      </div>
      <a
        class="list-group-item"
        [routerLink]="['/calendar']"
        [ngClass]="{ active: activeLink() === '/calendar' }"
        data-bs-dismiss="offcanvas"
        ><i class="fa-solid fa-calendar-days me-2"></i>Calendar</a
      >
      <a
        class="list-group-item"
        [routerLink]="['/account']"
        [ngClass]="{ active: activeLink() === '/account' }"
        data-bs-dismiss="offcanvas"
        ><i class="fa-solid fa-user me-2"></i>Account</a
      >
      <a
        class="list-group-item"
        [routerLink]="['/about']"
        [ngClass]="{ active: activeLink() === '/about' }"
        data-bs-dismiss="offcanvas"
        ><i class="fa-solid fa-circle-info me-2"></i>About</a
      >
    </div>
  </div>
  <div class="offcanvas-footer w-100 d-flex align-items-center justify-content-center">
    <button
      pButton
      class="new-entry-button w-75"
      label="New Entry"
      icon="fa-solid fa-plus"
      rounded="true"
      [routerLink]="['entry/new']"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
</div>
