:host,
app-entry-content {
  display: flex;
  flex-direction: column;
  font-family: 'Parisienne', cursive;
  width: 100%;
  overflow: hidden;
}

.red-line {
  left: 1.5rem;
  width: 2px;
  background: #ffb3b3;
}

.paper-cover {
  background-color: #000000;
  opacity: 0.15;
}

.paper-inner {
  padding: 1rem 1rem 1rem 2rem;
  scrollbar-width: thin;
  overflow-anchor: none;
}

.date-container,
.title-container {
  font-size: 1.4rem;

  label {
    min-width: 3rem;
  }

  .p-inputtext,
  .measuring-span {
    font-size: 1.2rem;
  }
}

.date-container .p-datepicker-input.p-inputtext,
.date-container .p-datepicker .p-datepicker-dropdown {
  background: transparent;
  border: none;
}

.date-container .p-datepicker-input.p-inputtext {
  border-bottom: 1px solid #000000;
  border-radius: 0;
  padding: 0 0 0 2px;
}

.date-container .p-datepicker-input.p-datepicker-input,
.entry-title {
  min-width: 11rem;
  width: 11rem;
}

.measuring-span {
  visibility: hidden !important;
  position: fixed !important;
}

.paper-content {
  width: 100%;
  height: auto;
  /* min-height: 60vh; */
  position: relative;
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #333;
  outline: none;
  opacity: 0;
  /* transition: opacity 0.5s ease 1s; */
}

.entry-textarea {
  font-family: 'Dancing Script', cursive;
  min-height: 40vh;
  overflow: hidden;
  resize: none;
  font-size: 1.2rem;
  background: repeating-linear-gradient(
    transparent 0rem,
    transparent calc(1.8rem - 1px),
    #8d8d8d calc(1.8rem - 1px),
    #8d8d8d 1.8rem
  );
}

.entry-textarea:focus-visible {
  outline: none;
}

@media (max-width: 768px) {
  .date-container,
  .title-container {
    font-size: 1.3rem;

    .p-inputtext,
    .measuring-span {
      font-size: 1.2rem;
    }
  }
}
