<div class="red-line position-absolute top-0 bottom-0"></div>
<div #paperInnerRef class="paper-inner h-100 overflow-y-auto">
  @if (!isParentFullEntryPage()) {
    <button
      class="position-absolute top-0 end-0 border-0 opacity-50 bg-transparent mt-1 me-2 p-0 z-2"
      (click)="onCloseEntry()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  }
  @if ((values().mood !== null && values().mood! > 0) || access() !== 'view') {
    <app-mood-rating
      [mood]="values().mood"
      [access]="access()"
      (moodChange)="onMoodChange($event)"
    ></app-mood-rating>
  }
  <form [formGroup]="form" action="Submit">
    <div class="date-container d-flex flex-row align-items-center">
      <label class="me-2">Date:</label>
      <p-datepicker
        class="entry-date-picker"
        [readonlyInput]="!isParentFullEntryPage()"
        formControlName="date"
        dateFormat="D, mm/dd/yy"
        [showIcon]="access() !== 'view' && isParentFullEntryPage()"
        showOnFocus="false"
      />
    </div>
    <div class="title-container d-flex flex-row align-items-center mt-2">
      <label class="me-2" for="entryTitle">Title:</label>
      <input
        pInputText
        id="entryTitle"
        #titleRef
        type="text"
        formControlName="title"
        class="entry-title bg-transparent border-0 border-bottom border-black p-0 rounded-0"
        (input)="entryTitleAutoGrow(titleRef, measuringSpan)"
      /><span #measuringSpan class="measuring-span"></span>
    </div>
    @if (isInvalid(form, 'title')) {
      @if (form.get('title')?.errors?.['required'] && idType() === 'entry') {
        <app-error-input message="Title is required." />
      }
      @if (form.get('title')?.errors?.['maxlength']) {
        <app-error-input message="Title must be at most 100 characters long." />
      }
    }
    <div class="paper-content">
      <textarea
        #contentRef
        formControlName="content"
        [placeholder]="placeholder()"
        [rows]="5"
        class="entry-textarea bg-transparent m-0 p-0 w-100 border-0 rounded-0"
        (input)="entryContentAutoGrow(paperInnerRef, contentRef)"
      ></textarea>
    </div>
    @if (isInvalid(form, 'content')) {
      @if (form.get('content')?.errors?.['required'] && idType() === 'entry') {
        <app-error-input message="Content is required." />
      }
      @if (form.get('content')?.errors?.['maxlength']) {
        <app-error-input message="Content must be at most 5000 characters long." />
      }
    }
  </form>
</div>
