:host {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Google Sans', sans-serif;
  font-size: 1rem;
  color: #000000;
  z-index: 1000;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background-color: #f5f5f5; */
  /* max-height: 10vh; */
  height: 4.5rem;
  background: rgba(128, 128, 128, 0.08);
}

.navbar.scrolled {
  background-color: rgba(120, 163, 172, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar i,
.navbar button i {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

button.btn:first-child:active {
  border-color: gray !important;
}

/* OFF CANVAS */
.offcanvas {
  max-width: 70%;
  height: auto;
  top: 4.5rem;
  backdrop-filter: blur(10px);
}

.offcanvas.bg-fantasy-blue {
  background: linear-gradient(20deg, #3099ef50, #09c4e21c);
}

.offcanvas.bg-fantasy-blue .offcanvas-body .list-group .list-group-item.active {
  background: linear-gradient(90deg, #74b3e1, #8ca8d747);
  border-color: #bbd7eb;
}

.offcanvas.bg-milky-way {
  background: linear-gradient(20deg, #2e2e2e50, #bfbfbf1c);
}

.offcanvas.bg-milky-way .offcanvas-body .list-group .list-group-item.active {
  background: linear-gradient(90deg, #636363, #9b9a9a);
  border-color: #999999;
}

.offcanvas-header,
.offcanvas-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 0.5rem;
  align-items: center;
}

.offcanvas.offcanvas-start {
  border: none;
}

/* LIST GROUP */
.list-group {
  width: 100%;
  max-width: 300px;
}

.list-group-item {
  width: 100%;
  text-align: center;
  border-radius: 32px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.list-group-item.active {
  color: #ffffff;
}

/* ENTRIES SUB-GROUP */
#collapseEntry {
  padding-left: 1rem;
}

.sub-list {
  padding-left: 1rem !important;
  border-left: 1px solid #dee2e6;
}

.sub-list .list-group-item {
  font-size: 0.8rem;
}

.caret-container {
  left: 0.5rem;
}

[data-bs-toggle='collapse'] .caret {
  transition: all 0.3s ease;
}
[data-bs-toggle='collapse'][aria-expanded='false'] .caret {
  transform: rotate(0deg);
}
[data-bs-toggle='collapse'][aria-expanded='true'] .caret {
  transform: rotate(90deg);
}

.form-switch {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  color: #ffffff;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .navbar {
    height: 4rem;
  }

  i {
    font-size: 1rem;
  }

  .offcanvas {
    top: 4rem;
  }
}
