:host,
app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Google Sans', sans-serif;
  font-size: 1rem;
  color: #000000;
}

/* TOAST */
.toast-container {
  top: 5rem !important;
  pointer-events: auto !important;
}

@media (max-width: 768px) {
}
