@if (access() === 'new' || access() === 'edit-entry' || access() === 'edit-draft') {
  <div
    class="lower-section d-flex flex-column w-100 z-2 mb-2 align-items-center"
    [ngClass]="[isEntryPaperExpanded() ? 'show' : '']"
  >
    <p-dialog
      [(visible)]="isAttachmentOpen"
      [modal]="true"
      [dismissableMask]="true"
      [draggable]="false"
      class="attachment-dialog"
      (onHide)="onValidateAttachments(attachment)"
    >
      <ng-template #header>
        <div class="d-flex flex-column font-bold whitespace-nowrap">
          <span><b>ATTACHMENTS</b></span>
          @if (selectedFiles.length > 0 || fileSize() > 0) {
            <span class="text-muted"
              >{{
                selectedFiles.length > 0
                  ? '(' +
                    selectedFiles.length +
                    ' item' +
                    (selectedFiles.length > 1 ? 's' : '') +
                    ')'
                  : ''
              }}
              [{{ fileSize() / 1024 / 1024 | number: '1.0-2' }}MB / MAX
              {{ maxFileSize / 1024 / 1024 | number: '1.0-2' }}MB]</span
            >
          }
        </div>
      </ng-template>
      <p-fileupload
        #attachment
        name="attachment"
        multiple="true"
        auto="false"
        customUpload="true"
        chooseLabel="Add Attachment"
        cancelLabel="Clear All"
        accept=".jpg,.jpeg,.png"
        showUploadButton="false"
        [maxFileSize]="maxFileSize"
        mode="advanced"
        (onSelect)="onAttachmentSelect($event, attachment)"
        (onRemove)="onRemoveFile($event, attachment)"
        (onClear)="onClearFiles(attachment)"
        class="attachment w-100 overflow-y-auto mt-2"
      >
        <ng-template #empty>
          <div>Add images here to upload.</div>
        </ng-template>
      </p-fileupload>
      <ng-template #footer>
        <p-button
          label="OK"
          severity="primary"
          (click)="onValidateAttachments(attachment)"
        ></p-button>
      </ng-template>
    </p-dialog>
    <div
      class="position-relative d-flex flex-row w-100 justify-content-between align-items-center mt-3"
    >
      <p-button
        rounded="true"
        size="small"
        class="d-flex align-items-center ms-3 z-2"
        [ngClass]="selectedFiles().length > 0 ? 'opacity-100' : 'opacity-50'"
        (click)="showAttachment()"
      >
        <i class="fa-solid fa-paperclip"></i>
        <span class="rounded-circle ms-1"
          ><b>{{ selectedFiles().length }}</b></span
        >
      </p-button>
      <button
        pButton
        icon="fa-solid fa-paper-plane"
        class="submit-button position-absolute p-2"
        severity="success"
        raised="true"
        rounded="true"
        (click)="onSubmit(submitButton().action)"
      >
        {{ submitButton().label }}
      </button>
      <p-button
        icon="fa-solid fa-ellipsis-vertical"
        severity="secondary"
        rounded="true"
        size="small"
        class="me-3 opacity-50"
        (click)="popoverSaveAsDraft.toggle($event)"
      ></p-button>
      <p-popover
        #popoverSaveAsDraft
        class="popover-container top-0 start-0 position-fixed"
        [appendTo]="popoverSaveAsDraft"
      >
        <div class="d-flex flex-column align-items-center">
          @for (option of popoverOptions; track $index) {
            <button
              pButton
              fluid="true"
              [label]="option.label"
              text="true"
              severity="secondary"
              (click)="option.action()"
            ></button>
          }
        </div>
      </p-popover>
    </div>
  </div>
} @else if (access() === 'view' && attachments() && attachments().length > 0) {
  <div class="attachment-gallery w-100 d-flex justify-content-center mt-3 z-1">
    <div>
      @for (attachment of attachments(); track $index) {
        <img
          [src]="sourceId() ?? '' | getImage: attachment.internalFileName | async"
          [alt]="attachment.internalFileName"
          class="gallery-thumbnail me-2"
          (click)="imageClick($index)"
        />
      }
    </div>
    <p-galleria
      [value]="gallery()"
      [(visible)]="displayCustom"
      [(activeIndex)]="activeIndex"
      [containerStyle]="{ 'max-width': '850px' }"
      [numVisible]="7"
      [circular]="true"
      [fullScreen]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
    >
      <ng-template #item let-item>
        <img [src]="item.localUrl" style="max-height: calc(100vh - 7rem); max-width: 85vw" />
      </ng-template>
    </p-galleria>
  </div>
}
