/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parisienne&display=swap');
@import '../node_modules/angular-calendar/css/angular-calendar.css';

:root {
  color-scheme: light;

  --mood-1: 255, 116, 108; /*pastel red */
  --mood-2: 255, 192, 103; /*pastel orange */
  --mood-3: 255, 238, 140; /*pastel yellow */
  --mood-4: 128, 239, 128; /* pastel green */
  --mood-5: 179, 235, 242; /*pastel blue */

  --p-tooltip-max-width: 90vw !important;
}

.google-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* MOOD LEVEL COLORS */
.mood-level-1 {
  background: rgba(var(--mood-1), var(--shade, 1)) !important;
}
.mood-level-2 {
  background: rgba(var(--mood-2), var(--shade, 1)) !important;
}
.mood-level-3 {
  background: rgba(var(--mood-3), var(--shade, 1)) !important;
}
.mood-level-4 {
  background: rgba(var(--mood-4), var(--shade, 1)) !important;
}
.mood-level-5 {
  background: rgba(var(--mood-5), var(--shade, 1)) !important;
}

@media (max-width: 768px) {
}
