/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parisienne&display=swap');
@import '../node_modules/angular-calendar/css/angular-calendar.css';

/* OFFCANVAS */
.offcanvas-backdrop {
  opacity: 0 !important;
  background-color: transparent !important;
}

.google-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 768px) {
  /* CARD IN DRAFTS & SEARCH PAGE */
  .p-card-body {
    padding: 1rem !important;
    gap: 0 !important;
  }

  .p-card-title {
    font-size: 1rem !important;
  }

  .p-card-subtitle {
    font-size: 1rem !important;
  }

  .p-card-content {
    font-size: 0.9rem !important;
    margin-top: 0.5rem !important;
  }
}
