:host,
app-search-entry {
  height: calc(100vh - 4.5rem);
  font-family: 'Google Sans', sans-serif;
  font-size: 1rem;
  padding: 1rem;
  overflow: hidden;
}

/* CONTAINER */
.search-container {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-bar {
}

/* FILTERS */
.filters {
  font-size: 0.8rem;
  width: fit-content;
}

/* DATEPICKER */
.p-select-label,
.date-select .p-datepicker-input.p-datepicker-input {
  font-size: 0.8rem !important;
  padding: 0.25rem 0.5rem !important;
}

.date-select .p-datepicker-input.p-datepicker-input {
  width: 6rem;
}

/* TEXT */
.date-range span,
.sort span {
  font-size: 0.8rem;
  font-weight: 500;
}

.divider {
  width: 1px;
  height: 1.5rem;
  background-color: #000;
}

.results {
  scrollbar-width: thin;
  padding-right: 0.1rem;
}

.results .result-entry:last-child {
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  :host,
  app-search-entry {
    height: calc(100vh - 4rem);
    padding: 0.75rem;
  }

  .search-container {
    padding: 0.75rem !important;
  }

  .search-bar {
    gap: 0.25rem !important;
  }

  .results {
    padding-right: 0.3rem;
  }
}
