:host,
app-search-entry {
  height: calc(100vh - 4.5rem);
  font-family: 'Google Sans', sans-serif;
  font-size: 1rem;
  padding: 1rem;
  overflow: hidden;
}

/* CONTAINER */
.search-container {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-bar {
}

/* FILTERS */
.filters {
  font-size: 0.8rem;
  width: fit-content;
}

/* DATEPICKER */
.search-date-picker-container {
  width: 8.5rem;
}

.p-select-label,
.date-select .p-datepicker-input.p-datepicker-input {
  font-size: 0.8rem !important;
  padding: 0.25rem 0.5rem !important;
}

.date-select .p-datepicker-input.p-datepicker-input {
  width: 6rem;
}

p-select.p-select p-overlay {
  position: fixed;
  z-index: 1;
}

/* TEXT */
.date-range span,
.sort span {
  font-size: 0.8rem;
  font-weight: 500;
}

.divider {
  width: 1px;
  height: 1.5rem;
  background-color: #000;
}

/* RESULTS */
.p-card.p-component {
  cursor: pointer;
}

.p-card.p-component .p-card-body {
  gap: 0;
}

.search-p-card-content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.attachment-thumbnail {
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}

.results {
  scrollbar-width: thin;
  padding-right: 0.1rem;
}

.results .result-entry:last-child {
  margin-bottom: 0 !important;
}

@media (max-width: 768px) {
  :host,
  app-search-entry {
    height: calc(100vh - 4rem);
    padding: 0.75rem;
  }

  .search-container {
    padding: 0.75rem !important;
  }

  .search-bar {
    gap: 0.25rem !important;
  }

  .results {
    padding-right: 0.3rem;
  }

  .attachment-thumbnail {
    max-width: 40px;
    max-height: 40px;
    margin-right: 0.25rem !important;
  }
}
