:host {
  height: calc(100vh - 4.5rem);
  font-family: 'Google Sans', sans-serif;
  font-size: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.search-container {
  background-color: rgba(0, 0, 0, 0.2);
}

.search-bar {
}

.filters {
  font-size: 0.8rem;
  width: fit-content;
}

h6 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.divider {
  width: 1px;
  height: 1.5rem;
  background-color: #000;
}

.results {
  scrollbar-width: thin;
}

@media (max-width: 768px) {
  :host {
    height: calc(100vh - 4rem);
    padding: 0.75rem;
  }

  .search-container {
    padding: 0.75rem !important;
  }

  .search-bar {
    gap: 0.25rem !important;
  }
}
