<div
  class="search-container container mh-100 d-flex flex-column gap-3 p-3 rounded-3 overflow-hidden"
>
  <section class="d-flex flex-row align-items-center gap-2">
    <h4 class="mb-0">AD</h4>
    <form
      [formGroup]="searchForm"
      (ngSubmit)="onSearchClicked()"
      class="search-bar w-100 d-flex flex-row gap-2 align-items-center"
    >
      <input
        pInputText
        formControlName="searchValue"
        type="text"
        class=""
        fluid
        placeholder="Search entries..."
      />
      <p-button
        class=""
        icon="fa-solid fa-magnifying-glass"
        raised="true"
        rounded="true"
        severity="secondary"
        type="submit"
      />
    </form>
  </section>
  <hr class="border-top border-2 border-black m-0" />
  <section
    class="filters d-flex flex-wrap flex-row gap-2 align-items-center rounded-2 bg-light p-2"
  >
    <div class="date-range d-flex flex-wrap flex-row align-items-center gap-2">
      <span>Date Filter:</span>
      <div class="date-select d-flex flex-row gap-2">
        <p-select [options]="dateFilterOptions" [(ngModel)]="selectedDateFilter" />
        @if (selectedDateFilter() !== 'any') {
          <div class="search-date-picker-container">
            <p-datepicker
              class="search-date-picker position-fixed z-1"
              dateFormat="mm/dd/yy"
              [(ngModel)]="selectedDate"
              showIcon="true"
              showOnFocus="false"
            />
          </div>
        }
      </div>
    </div>
    <div class="divider"></div>
    <div class="sort d-flex flex-wrap flex-row align-items-center gap-2">
      <span>Sort by:</span>
      <div class="d-flex align-items-center" (click)="selectedSort.set('desc')">
        <p-radiobutton
          id="desc"
          name="sort"
          value="desc"
          [(ngModel)]="selectedSort"
          inputId="desc"
        />
        <label for="desc" class="ms-2">Descending</label>
      </div>
      <div class="d-flex align-items-center" (click)="selectedSort.set('asc')">
        <p-radiobutton id="asc" name="sort" value="asc" [(ngModel)]="selectedSort" inputId="asc" />
        <label for="asc" class="ms-2">Ascending</label>
      </div>
    </div>
  </section>
  <section class="d-flex flex-column h-100 overflow-hidden">
    @if (searchClicked()) {
      <h4>{{ searchLabel() }}</h4>
      <div class="results overflow-y-auto flex-fill">
        @if (isLoading()) {
          <app-loading message="Getting search results" />
        } @else if (entriesSearchResult().length === 0) {
          <p class="text-center mt-3">No entries found.</p>
        } @else {
          @for (entry of entriesSearchResult(); track $index) {
            <div class="result-entry mb-3">
              <app-card [entry]="entry" />
            </div>
          }
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="currentFirst()"
            [rows]="pageRows"
            [totalRecords]="fullEntrySearchResult()?.totalCount ?? 0"
          />
        }
      </div>
    } @else {
      <h4>Recent Entries</h4>
      <div class="recents overflow-y-auto flex-fill">
        @if (isLoading()) {
          <app-loading message="Getting recent entries" />
        } @else if (recentEntries().length === 0) {
          <p class="text-center mt-3">No entries found.</p>
        } @else {
          @for (entry of recentEntries(); track $index) {
            <div class="recent-entry mb-3">
              <app-card [entry]="entry" />
            </div>
          }
        }
      </div>
    }
  </section>
</div>
